<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>

  <ng-container *ngFor="let breadcrumbItem of breadcrumbMenu">
    <nz-breadcrumb-item *ngIf="breadcrumbItem?.route">
      <a [routerLink]="[breadcrumbItem.route]">{{breadcrumbItem.title}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="breadcrumbItem?.children" [nzOverlay]="downMenu">
      {{breadcrumbItem.title}}

      <nz-dropdown-menu #downMenu>
        <ul nz-menu nzSelectable>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: breadcrumbItem }"></ng-container>
          <ng-template #menuTpl let-breadcrumbItem>
            <ng-container *ngFor="let subBreadcrumb of breadcrumbItem.children">
              <li nz-submenu *ngIf="subBreadcrumb.children else subMenu" 
              [nzTitle]="subBreadcrumb.title">
                <ul nz-menu nzSelectable *ngIf="subBreadcrumb.children">
                  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: subBreadcrumb }"></ng-container>
                </ul>
              </li>
              <ng-template #subMenu>
                <li nz-menu-item [routerLink]="[subBreadcrumb.route]">
                  {{subBreadcrumb.title}}
                </li>
              </ng-template>
            </ng-container>

          </ng-template>
        </ul>
      </nz-dropdown-menu>
    </nz-breadcrumb-item>

  </ng-container>
</nz-breadcrumb>