<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzFor="projName">项目名称</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="projName" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzFor="projCode">项目编号</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="projCode" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzFor="projType">项目类型</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="projType">
                        <nz-option *ngFor="let item of ProjModel.projTypeOption" [nzValue]="item.code"
                            [nzLabel]="item.name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzFor="amount">金额</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="amount" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzFor="startTime">项目启动时间</nz-form-label>
                <nz-form-control>
                    <nz-range-picker formControlName="projTime"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">Search</button>
            <button nz-button (click)="resetForm()">Clear</button>
            <a class="collapse" (click)="toggleCollapse()">
                Collapse
                <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
            </a>
        </div>
    </div>
</form>