html, body, app-root, .site {
    width:100%;
    min-height: calc(100vh + 64px);
}
.site{
    display: flex;
    flex-direction: column;
    app-header{
        height: 3rem;
        box-shadow: 0 0 6px 30px rgba(9,9,9,0.3);
    }
    main{
        flex: 1 1 auto;
        overflow: auto;
        height: calc(100vh - 2rem);
        display: flex;
        .sidebar{
            width:15rem;
            // background-color: #ddd;
            overflow-y: auto;
            overflow-x: auto;
        }
        .m-container{
            flex: 1 1 auto;
            overflow-y: auto;
            background-color: #e9e9e9;
            padding:0 .5rem;
            .breadcrumb{
                padding: .5rem 0;
            }
            .container{
                padding: .5rem;
                background-color: #fff;
                height: calc(100% - 2.5rem);
            }
        }
    }
}
