html, body, app-root, .nzlayout-site {
    width:100%;
    min-height: calc(100vh);
}
.nzlayout-site{
    display: flex;
    flex-direction: column;
    app-header{
        height: 3rem;
        box-shadow: 0 6px 22px -16px rgba(6, 6, 6, 0.4);
    }
    main{
        flex: 1 1 auto;
        overflow: auto;
        height: calc(100vh - 3rem);
        display: flex;
        .nzlayout-sidebar{
            width:15rem;
            overflow-y: auto;
            overflow-x: auto;
        }
        .nzlayout-main-container{
            flex: 1 1 auto;
            overflow-y: auto;
            background-color: #f7f9fa;
            padding:0 .5rem;
            .nzlayout-breadcrumb{
                padding: .5rem 0;
            }
            .nzlayout-container{
                padding: .5rem;
                background-color: #fff;
                height: calc(100% - 2.5rem);
            }
        }
    }
}
